numpy
scipy
sklearn
opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
pandas
virtualenv
keras
tensorflow
jupyter
matplotlib
python-dateutil
pytz
six
sqlparse
xlrd
statsmodels
keyrings.alt
imageai
cvlib
mlxtend
nltk
xgboost
asgiref
